body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(stopwatch.jpg);
  background-position:center;
}

#mainstopwatch{
  width: 400px;
  height: 50vh;
  margin:100px auto;
  padding:60px 50px 10px;
  text-align:center;
  font-size: 40px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #afafaf,-15px -15px 30px #ffffff;
  border-radius:40px;
  background: #f0ffff;
  box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;

}
#mainstopwatch span{
  background: black;
  color:#1d1b19;
  padding:10px;
  width:55px;
  margin:3px;
  display:inline-block;
  background:#f5f5dc;
}

#mainstopwatch button{
  font-size: 22px;
  -webkit-appearance: none;
  border:none;
  background-color: black;
  color:white;
  width:110px;
  height:55px;
  justify-content: space-between;
  transition:0.2s;
  border-radius:40px;
  box-shadow: 2px -2px 5px #647177, -2px 2px 5px #deb887;
}

#mainstopwatch button:nth-child(even){
  background-color: black;
}

#mainstopwatch button:last-child{
  background-color: black;

}
#mainstopwatch button:hover{
  background:#333;
  color:black;
  border-radius:35px;
  box-shadow: 6px -6px 8px #ac2a2a, -6px 6px 8px #ffffff;
  transition: 0.2s;
}